<div class="container signinup mt-2 mx-auto">
    <div class="row">
        <div class="col-12  ">
            Welcome FirstName LastName
        </div>
    </div>
    <div class="row ">
        <div class="col-12 mx-auto">
            Story Badges
            {{!-- This will turn into a handlebars for each loop --}}
            <div class="border">Badge Placeholder 1 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 2 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 3 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 4 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 5 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 6 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 7 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 8 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 9 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 10 <img src="https://via.placeholder.com/25" /></div>
        </div>
    </div>
    <div class="row">
        <div class=</div> </div>