<div class="container signinup mt-2 mx-auto col-sm-12 col-lg-10 p-2">
    <div class="row">
        <div class="col-8 mx-auto">
            Welcome back {{first}} {{last}}
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto">
            Story Badges
            {{!-- This will be handlebards template. Need to pull completed endings from user db --}}
            <div class="border">Badge Placeholder 1 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 2 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 3 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 4 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 5 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 6 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 7 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 8 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 9 <img src="https://via.placeholder.com/25" /></div>
            <div class="border">Badge Placeholder 10 <img src="https://via.placeholder.com/25" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto">
            {{!-- TODO THIS WILL OVERRIDE ALL PROGRESS FOR USER --}}
            {{!-- Also I want a LARGE ASS warning modal here if clicked to confirm --}}
            <button class="btn btn-danger text-center"> Reset All Progress?</button>
        </div>
    </div>
</div>