<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="action">
        <p>It’s a cold and rainy Monday night. You’re walking to class at SMU on what seems like a normal evening. You
          enter Hyer Hall and the lights flicker. You walk up the stairs to Room 200 and open the door.
          You scream.
          </br> </br>
          In the middle of the floor, your TA Jack is laying face down, surrounded by blood. There is nothing in the room but
          the
          tables, chairs and a single Monster energy drink that has been spilled onto the tile.
          </br> </br>
          <b>What do you do?</b>
        </p>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-8 offset-2">
      <div class="option">
       Check For a Heartbeat
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="option">
       Call Campus Security
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <a href="/">← Back To Home</a>
    </div>
  </div>
</div>