<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="action">
        <p>{{action}}
        </p>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-8 offset-2">
      <div class="option">
       {{optionOne}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="option">
       {{optionTwo}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <a href="/">← Back To Home</a>
    </div>
  </div>
</div>