<div class="container">
    <div class="row">
        <img class="logo-signin mx-auto mb-2" src="images/murder-mystery-logo.png" alt="Murder Mystery">
    </div>
    <div class="row">
        <div class="col-4 mx-auto p-4 signinup">
            <form id="signin" name="signin" method="post" action="signin">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Save email</label>
                </div>
                <input class="btn btn-danger btn-lg" type="submit" value="Sign In" />
            </form>
        </div>
    </div>
</div>