<div class="container">
    <div class="row">
        <img class="logo-signin mx-auto mb-2" src="images/murder-mystery-logo.png" alt="Murder Mystery">
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4 mx-auto p-4 signinup">
            <form id="signup" name="signup" method="post" action="/signup">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="username" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                        name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="first name" name="firstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="last name" name="lastname">
                </div>

                <button type="submit" class="btn btn-danger btn-lg">Sign Up</button>
            </form>
        </div>
    </div>
</div>