body {
  background-image: url("/images/murder-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5d5e60;
  font-family: 'Roboto Slab', serif;
}

a {
  color: #94001a;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

a:hover {
  color: #A72E43;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-style: italic;
}

#logo {
  width: 100%;
}

#start-button {
  background-color: #94001A;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  color: white;
}

#dashboard-btn {
  background-color: #94001A;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  color: white;
}

.action {
  background-color: white;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.option {
  background-color: #94001a;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
}

.option:hover {
  background-color: #6B0013;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.signinup {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  border: rgb(255, 255, 255), solid 2px;
}

.btn-danger {
  background-color: #94001A;
  border: #94001A;
}

.ending {
  text-align: center;
}

.ending-desc {
  font-size: 1.6rem !important;
  line-height: 3rem;
}

#dashboard-btn-div {
  margin-top: 20px;
}

.dash-btn {
  width: 100%;
}

#badge-heading {
  background-color: #6B0013;
  color: white;
  text-align: center;
}

.border-round {
  border-radius:10px;
  border: #94001A 2px solid;
}

.end-img {
  width:48px;
  height:48px;
  margin-right:5px;
  margin-left:5px;
}

.red-divider {
  border-top:#5d5e60 solid 2px;
}

.btn-cont {
  width:75%;
  font-size: 24px;
}